In [1]:
from datetime import datetime

date_parser = lambda x: datetime.strptime(x, "%Y%m%d")

In [2]:
import pandas as pd


df = pd.read_csv(
    "data/atlantic.csv",
    na_values=-999,
    parse_dates=["Date"],
    date_parser=date_parser,
    index_col="Date",
)

In [3]:
df.head()

,ID,Name,Time,Event,Status,Latitude,Longitude,Maximum Wind,Minimum Pressure,Low Wind NE,...,Low Wind SW,Low Wind NW,Moderate Wind NE,Moderate Wind SE,Moderate Wind SW,Moderate Wind NW,High Wind NE,High Wind SE,High Wind SW,High Wind NW
Date,,,,,,,,,,,,,,,,,,,,,
1851-06-25,AL011851,UNNAMED,0,,HU,28.0N,94.8W,80,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1851-06-25,AL011851,UNNAMED,600,,HU,28.0N,95.4W,80,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1851-06-25,AL011851,UNNAMED,1200,,HU,28.0N,96.0W,80,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1851-06-25,AL011851,UNNAMED,1800,,HU,28.1N,96.5W,80,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1851-06-25,AL011851,UNNAMED,2100,L,HU,28.2N,96.8W,80,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
len(set(df["ID"]))

1814

In [5]:
set(df["Status"])

{' DB', ' EX', ' HU', ' LO', ' SD', ' SS', ' TD', ' TS', ' WV'}

- TD – Tropical cyclone of tropical depression intensity (< 34 knots)
- TS – Tropical cyclone of tropical storm intensity (34-63 knots)
- HU – Tropical cyclone of hurricane intensity (> 64 knots)
- EX – Extratropical cyclone (of any intensity)
- SD – Subtropical cyclone of subtropical depression intensity (< 34 knots)
- SS – Subtropical cyclone of subtropical storm intensity (> 34 knots)
- LO – A low that is neither a tropical cyclone, a subtropical cyclone, nor an extratropical cyclone (of any intensity)
- WV – Tropical Wave (of any intensity)
- DB – Disturbance (of any

In [6]:
def fix_position(pos):
    letter = pos[-1]
    if letter in ["W", "S"]:
        sign = -1
    else:
        sign = 1
    return sign * float(pos[:-1])

In [7]:
df["lon"] = df["Longitude"].apply(fix_position)
df["lat"] = df["Latitude"].apply(fix_position)